<h3>Post a comment</h3>

<%= form_for([ @post, @comment ], url: admin_post_comments_path(@post.id)) do |f| %>
  <p>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', rows: 2 %>
  </div>
  </p>
  <p>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </p>
  <br>
<% end %>