@import "bootstrap";

.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }

$gray-medium-light: #eaeaea;

.round-image-50 {
   background-color: white;
   border: 1px solid #d9d9d9;
   border-radius: 25px;
   -moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   height: 50px;
   width: 50px;
   overflow: hidden;
   text-align: center;
   img { width: 100% }
 }

.round-image-20 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.footer-copyright {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #85817b;
  color: white;
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.post {
  background-color: white !important;
  padding: 5px;
  margin-top: 17px;
  margin-bottom: 17px;
  border: 1px solid #1d728f
}

.post-title {
  background-color: #e6ffeb !important;
  padding: 0.5px;
  margin-top: 17px;
  margin-bottom: 17px;
}

body {
  padding-top: 70px;
  background-color: #e3e2de !important;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  text-align: left;
}

table {
  border-spacing: 5px;
  background-color: #f1f1c1;
}

.no-bullets {
  list-style-type: none;
}

.form-group2 {
  display: inline-block;
}