@import "bootstrap";

.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }

$gray-medium-light: #eaeaea;

.round-image-50 {
   background-color: white;
   border: 1px solid #d9d9d9;
   border-radius: 25px;
   -moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   height: 50px;
   width: 50px;
   overflow: hidden;
   text-align: center;
   img { width: 100% }
 }

.round-image-20 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.navbar-footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
}

body { padding-top: 70px; }