@import "bootstrap";

.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }

$gray-medium-light: #eaeaea;

.round-image-50 {
   background-color: white;
   border: 1px solid #d9d9d9;
   border-radius: 25px;
   -moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   height: 50px;
   width: 50px;
   overflow: hidden;
   text-align: center;
   img { width: 100% }
 }

.round-image-20 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

html {
  height: 100%;
}
body {
  padding-top: 70px;
  background-color: #e1e5e6 !important;
  font-family: "DejaVu Sans" !important;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer-copyright {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #85817b;
  color: white;
  grid-row-start: 2;
  grid-row-end: 3;
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.post {
  background-color: white !important;
  padding: 5px;
  margin-top: 17px;
  margin-bottom: 17px;
  border: 1px solid #1d728f;
}

.post-title {
  background-color: #e6ffeb !important;
  padding: 0.5px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.post-show {
  background-color: white !important;
  padding: 5px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.comment-post {
  padding: 5px;
  margin-top: 100px;
  margin-bottom: 17px;
  border-top: 1px dotted #1d728f;
  border-bottom: 1px dotted #1d728f;
}

.post-subtitle {
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.comment {
  background-color: #faf5cd !important;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-pagination {
  width: 40%;
  margin: 0 auto;
}

.manage-header {
  padding: 5px;
  margin-bottom: 10px;
}

.search-bar {
  padding: 5px;
  margin-bottom: 10px;
}

.my-table {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.my-th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.my-td {
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.comment-show {
  margin-left: 100px !important;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.user-show {
  margin-left: 100px !important;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  text-align: left;
}

table {
  border-spacing: 5px;
  background-color: #f1f1c1;
}

.no-bullets {
  list-style-type: none;
}

.form-group2 {
  display: inline-block;
}